@use 'todo/src/styles/variables' as variables;
@use 'todo/src/styles/breakpoints' as bp;
@use 'todo/src/styles/mixins' as mixins;

.task-list {
  display: flex;
  flex-direction: column;
  gap: 1.56rem;
  font-family: 'Inter', sans-serif;
  padding: 1.88rem;
  list-style: none;
  color: variables.$taskTextColor;

  @include bp.respond-to(sm) {
    padding: 1.56rem 0.63rem;
    gap: 1.25rem;
  }
}

.noFoundTasks{
  width: 250px;
  height: 70px;
  background-color: #fbe3c9;
  border-radius: 8px;
  margin: 90px auto;
  @include mixins.center-content;

  .noFoundTasks-title{
    font-size: 20px;
  }
}
