@use 'breakpoints';

@mixin nav-controls {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: #7f4b136b;

  &:hover {
    transition: 0.2s;
    color: #7f4b13ca;
  }

  @include breakpoints.respond-to(sm) {
    font-size: 16px;
  }
}

@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
