@use 'fonts';
@use 'mixins';
@use 'variables';

* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(104.11deg, #ff7e5f 14.52%, #feb567 87.26%);
}

html,
body,
#app,
.wrapper {
  height: 100%;
}

.wrapper {
  @include mixins.center-content;

  .todo__container {
    width: 540px;
    height: 437px;
    font-family: 'Open Sans', sans-serif;
    background-color: variables.$taskMainColor;
    box-shadow: 0px 8px 35px 5px #fe9262;
    color: variables.$taskTextColor;

    .todo-header {
      @include mixins.center-content;
      height: 50px;
      font-size: variables.$taskFontSize;
      line-height: variables.$taskLineHeight;
      font-weight: 600;
    }

    .list__wrapper {
      @include mixins.center-content;
    }

    .list__container {
      width: 535px;
      height: 337px;
      background-color: #fff4e9;

      .task-list {
        display: flex;
        flex-direction: column;
        gap: 25px;
        font-family: 'Inter', sans-serif;
        padding: 30px;
        list-style: none;
        color: variables.$taskTextColor;

        .task {
          @include mixins.center-content;
          justify-content: space-between;
          width: 480px;
          height: 50px;
          border-radius: 10px;
          background-color: #ffdfbe;

          .task-inp {
            display: none;
          }

          .task-label {
            display: flex;
            align-items: center;
            position: relative;
            padding-left: 63px;
            font-size: variables.$taskFontSize;
            line-height: variables.$taskLineHeight;
            font-weight: 400;
            cursor: pointer;
          }

          .task-label::before {
            left: 0;
            content: '';
            display: inline-block;
            margin-left: 20px;
            width: 22px;
            height: 22px;
            position: absolute;
            border-radius: 5px;
            border: 2px solid #feb567;
          }

          .task-inp:checked + .task-label::before {
            @include mixins.center-content;
            width: 22px;
            height: 22px;
            border-radius: 5px;
            background-color: #feb567;
            content: '✓';
            color: white;
          }

          .remove-task-btn {
            width: 26px;
            height: 26px;
            background: none;
            border: 2px solid variables.$taskMainColor;
            color: variables.$taskMainColor;
            border-radius: 5px;
            margin-right: 20px;
          }
        }
      }

      .add-task {
        @include mixins.center-content;
      }

      .add-task-btn {
        width: 480px;
        height: 50px;
        border-radius: 10px;
        background: none;
        background-color: #ffecd8;
        border: 2px dashed variables.$taskMainColor;
        font-family: inherit;
        font-size: variables.$taskFontSize;
        line-height: variables.$taskLineHeight;
        color: variables.$taskMainColor;
        cursor: pointer;
      }
    }

    .nav__wrapper {
      @include mixins.center-content;
      height: 50px;

      .nav__container {
        @include mixins.center-content;
        justify-content: space-between;
        width: 480px;
        height: 34px;
      }

      .items-left {
        @include mixins.nav-controls;
      }

      .btn-nav__container {
        display: flex;
        gap: 25px;

        .nav-btn {
          @include mixins.nav-controls;
          font-family: inherit;
          border: none;
          background: none;
          cursor: pointer;
        }

        .all-nav-btn {
          @extend .nav-btn;
          border: 1px solid #c9955d;
          border-radius: 10px;
          padding: 3px 10px 3px 10px;
        }
      }
    }
  }

  .list-img {
    position: fixed;
    margin-left: 530px;
    z-index: -1;
  }
}
