@use 'fonts';
@use 'mixins';
@use 'variables';
@use 'breakpoints';

* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(104.11deg, #ff7e5f 14.52%, #feb567 87.26%);
}

.wrapper {
  height: 100vh;
  @include mixins.center-content;

  .todo__container {
    width: 33.75rem;
    height: 27.31rem;
    font-family: 'Open Sans', sans-serif;
    background-color: variables.$taskMainColor;
    box-shadow: 0 0.5rem 2.19rem 0.31rem #fe9262;
    color: variables.$taskTextColor;

    @include breakpoints.respond-to(sm) {
      width: 20rem;
      height: 25.94rem;
    }

    .todo-header {
      height: 3.125rem;
      font-size: variables.$taskFontSize;
      line-height: variables.$taskLineHeight;
      font-weight: 600;
      @include mixins.center-content;
    }

    .list__wrapper {
      @include mixins.center-content;
    }

    .list__container {
      width: 33.44rem;
      height: 21.06rem;
      background-color: #fff4e9;

      @include breakpoints.respond-to(sm) {
        width: 19.69rem;
        height: 19.69rem;
      }

      .task-list {
        display: flex;
        flex-direction: column;
        gap: 1.56rem;
        font-family: 'Inter', sans-serif;
        padding: 1.88rem;
        list-style: none;
        color: variables.$taskTextColor;

        @include breakpoints.respond-to(sm) {
          padding: 1.56rem 0.63rem;
          gap: 1.25rem;
        }

        .task {
          width: 30rem;
          height: 3.125rem;
          border-radius: 0.63rem;
          background-color: #ffdfbe;
          transition: 0.2s;
          @include mixins.center-content;
          justify-content: space-between;

          &:hover {
            background-color: #ffd5ab;
          }

          @include breakpoints.respond-to(sm) {
            width: 18.44rem;
            height: 3.125rem;
          }

          .task-inp {
            display: none;
          }

          .task-label {
            display: flex;
            align-items: center;
            position: relative;
            padding-left: 3.94rem;
            font-size: variables.$taskFontSize;
            line-height: variables.$taskLineHeight;
            font-weight: 400;
            cursor: pointer;
            transition: 0.1s;

            &::before {
              content: '';
              left: 0;
              display: inline-block;
              position: absolute;
              margin-left: 1.25rem;
              width: 1.38rem;
              height: 1.38rem;
              border-radius: 0.31rem;
              border: 0.13rem solid #feb567;
            }

            @include breakpoints.respond-to(sm) {
              font-size: 1rem;
            }
          }

          .task-inp:checked + .task-label::before {
            width: 1.38rem;
            height: 1.38rem;
            border-radius: 0.31rem;
            background-color: #feb567;
            content: '✓';
            color: white;
            @include mixins.center-content;
            transition: 0.1s;
          }

          .remove-task-btn {
            width: 1.63rem;
            height: 1.63rem;
            border: 0.13rem solid variables.$taskMainColor;
            color: variables.$taskMainColor;
            border-radius: 0.31rem;
            margin-right: 1.25rem;
            background: none;
            transition: 0.2s;

            &:hover {
              border-color: #fc8f1a;
              color: #fc8f1a;
            }
          }
        }
      }

      .add-task {
        @include mixins.center-content;
      }

      .add-task-btn {
        width: 30rem;
        height: 3.125rem;
        border-radius: 0.63rem;
        background: none;
        background-color: #ffecd8;
        border: 0.13rem dashed variables.$taskMainColor;
        font-family: inherit;
        font-size: variables.$taskFontSize;
        line-height: variables.$taskLineHeight;
        color: variables.$taskMainColor;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          background-color: #fbe3c9;
        }

        @include breakpoints.respond-to(sm) {
          width: 18.44rem;
          font-size: 1rem;
        }
      }
    }

    .nav__wrapper {
      height: 3.125rem;
      @include mixins.center-content;

      .nav__container {
        width: 30rem;
        height: 2.13rem;
        @include mixins.center-content;
        justify-content: space-between;

        @include breakpoints.respond-to(sm) {
          width: 19.38rem;
        }

        .items-left {
          @include mixins.nav-controls;
        }

        .btn-nav__container {
          display: flex;
          gap: 1.56rem;

          .nav-btn {
            font-family: inherit;
            border: none;
            background: none;
            cursor: pointer;
            @include mixins.nav-controls;
          }

          .all-nav-btn {
            border: 0.06rem solid #c9955d;
            border-radius: 0.63rem;
            padding: 0.19rem 0.63rem;
            @extend .nav-btn;
          }

          @include breakpoints.respond-to(md) {
            gap: 0.94rem;
          }
        }
      }
    }
  }

  .list-img {
    position: fixed;
    margin-left: 33.13rem;
    z-index: -1;

    @include breakpoints.respond-to(sm) {
      display: none;
    }
  }
}
