@use 'todo/src/styles/variables' as variables;
@use 'todo/src/styles/breakpoints' as bp;
@use 'todo/src/styles/mixins' as mixins;

.task-wrapper {
  width: 30rem;
  height: 3.125rem;
  border-radius: 0.63rem;
  background-color: #ffdfbe;
  transition: 0.2s;
  @include mixins.center-content;
  justify-content: space-between;

  &:hover {
    background-color: #ffd5ab;
  }

  @include bp.respond-to(sm) {
    width: 18.44rem;
    height: 3.125rem;
  }

  .checkbox-inp {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 1.2rem;

    &::before {
      content: '';
      width: 1.35rem;
      height: 1.35rem;
      border-radius: 0.31rem;
      display: block;
      position: absolute;
      border: 0.125rem solid #fcb467;
      background: #ffdfbe;
      transition: 0.2s;
    }

    &:checked::before {
      background: #fcb467;
      border-color: #fcb467;
    }

    &:checked::after {
      content: '✔';
      position: absolute;
      padding-left: 0.4rem;
      font-size: 1rem;
      color: white;
    }
  }

  .task {
    display: flex;
  }

  .edit-title {
    border: none;
    background: none;
    margin-left: 28px;
    font-size: variables.$taskFontSize;
    line-height: variables.$taskLineHeight;
    font-weight: 400;
    color: #7f4b13;

    &:focus {
      outline: none;
    }

    @include bp.respond-to(sm) {
      font-size: 1rem;
    }
  }

  .remove-task-btn {
    width: 1.63rem;
    height: 1.63rem;
    border: 0.13rem solid variables.$taskMainColor;
    color: variables.$taskMainColor;
    border-radius: 0.31rem;
    margin-right: 1.25rem;
    background: none;
    transition: 0.2s;

    &:hover {
      border-color: #fc8f1a;
      color: #fc8f1a;
    }
  }
}
